body{
	background-color: red;
}
.header-background{
	display: block;
	height: 900px;
	width: auto; 
	background: linear-gradient(to right, #fd712c, #f21780);
}
.img-phone{
	position: relative;
	right: -15px;
	top: -420px;
}
.menu{
	color: white;
}
.menu:hover{
	color: black;
}
.download_href{
	color: black;
}

.btn-download{
	border-radius: 30px !important;
}
.btn-light{
	color: black;
}
.phone1{
	position: relative;
	left: 490px;
	bottom: 250px;
}
.phone2{
	position: relative;
	left: 730px;
	bottom: 659px;
}
.phone3{
	position: relative;
	left: 15px;
	bottom: 1050px;
}
.text-name{
	font: 54pt Dosis semibold;
	color: white;
	margin-top: 98px;
}
.text-desc{
	font: 14pt Roboto Light;
	color: white;
	margin-top: 24px;
}
.text-numbering{
	font: 14pt Roboto Regular;
	color: white;
	margin-top: 24px ;
}
.btn_main{
	position: relative;
	top: -50px;
	left: 20px;
	border-radius: 30px !important;
}
.btn_main_dark{
	position: relative;
	width: 175px;
	height: 47px;
	bottom: 8px;
	left: 14px;
	border-radius: 30px !important;
	opacity: 40% !important;
	filter: blur(3px);
}
.card-icon{
	display: block;
	height: 40px;
	width: 40px;
	border: 3px solid #ededed;
	border-radius: 45%;
	padding: 7px;
}
.header_card{
	font: 15pt Dosis semibold;
	margin-bottom: 10px;
}
.text_card{
	font: 13pt Roboto Light;
}
.container-cards{
	margin-top: 117px;
	position: relative;
	left: 90px;
}
.card_row{
	margin-bottom: 57px;
}
.hr_cards{
	margin-top: 95px;
	margin-bottom: 95px;
}
.phone_advantage{
	font: 33pt Dosis medium;
	margin-bottom: 24px;
}
.phone_advantage_text1{
	margin-bottom: 78px;
}
.phone_advantage_text2{
	margin-bottom: 37px;
}
.phone_advantage_label{
	font: 14pt Roboto Regular;
}
.phone_advantage_tick{
	position: relative;
	height: 15px;
	width: 15px;
	margin-right: 10px;
}
.photo_motivation{
	margin-top: 120px;
	padding-top: 120px;
	padding-bottom: 116px;
	text-align: center;
	background-color: #f7fafc;
}
.photo_motivation_header{
	font: 36pt Dosis medium;
	margin-bottom: 24px;
}
.photo_motivation_body{
	font: 13pt Roboto Light;
	padding-bottom: 90px;
}
.tariff{
	font: 36pt Dosis Medium;
	text-align: center;
	padding-bottom: 36pt;
}
.tariff_text{
	font: 14pt Roboto Light;
	text-align: center;
	margin-bottom: 80px;

}
.card{
	background-color: #f7fafc !important;
	margin-right: 10px;
}
.card:hover{
	background-color: white !important;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.card:hover .card-information{
		background-image: url("BG.png");
}
.card:hover .btn-card{
	background: linear-gradient(to right, #fd712c, #f21780) !important;
}
.card:hover .btn-card-text{
	color: white;
}
.card:hover .card-information-price{
	color: white;
}
.card-title{
	text-align: center;
}
.card-price{
	display: inline-block;
	font: 38pt Dosis Medium;
}
.card-price-dollar{
	display: inline-block;
	font: 18pt Dosis Medium;
	white-space: nowrap;
	vertical-align: top;
}
.card-price-m{
	display: inline-block;
	font: 18pt Dosis Medium;
}
.card-information{
	display: inline-block;
	height: 120px;
	position: relative;
	text-align: center;
	white-space: nowrap;
	background-image: url("BG_main.png");
	background-repeat: no-repeat;
	background-size: auto;
}
.card-information-price{
	position: relative;
	top: 20px;
}
.card-text-add{
	text-align: center;
}
.card-hr{
	border-style: dashed;
}
.card-body{
	margin-top: 0px;
	text-align: center;
}
.card-text-btn{
	color: gray;
}
.btn-card{
	background: #f7fafc !important; /*active - linear-gradient(to right, #fd712c, #f21780)*/
	border-radius: 35px !important; 
	border-width: 1px !important;
	color: black;
	border-color: gray !important; 
}
.btn-card-text{
	color: black;
}
.container-cards-additional{
	margin-bottom: 120px;
}
.clip{
	display: block;
	width: auto;
	height: 400px;
	background-image: url("Image.png");
	text-align: center;
	margin-bottom: 119px;
	margin-top: 120px;
}
.icon-clip{
	display: inline-block;
	position: relative;
	top: 200px;
}
.customer_say_title{
	font: 36pt Dosis Medium;
	text-align: center;
	margin-bottom: 24px;
}
.customer_say_body{
	font: 14pt Roboto Light;
	text-align: center;
	margin-bottom: 121px;
}
.card-customer{
	display: inline-block;
	position: relative;
	left: 5rem;
	padding-top: 39px;
	padding-right: 43px;
	padding-bottom: 38px;
	padding-left: 40px;
	margin-bottom: 0px;
}
.customer-say-card-text{
	display: inline-block;
	padding-bottom: 29px;
}
.customer-say-card-av-image{
	padding-right: 23px;
}
.customer-say-card-av-name{
	position: relative;
	top: 1rem;
}
.footer_upper{
	display: block;
	height: 470px;
	margin-top: 0px;
	padding-bottom: 118px;
	padding-top: 118px;
	background: linear-gradient(to right, #fd712c, #f21780);
}
.download_text{
	font: 36pt Dosis Regular;
	text-align: center;
	color: white;
	margin-bottom: 80px;
}
.card_download{
	display: inline-block;
	height: 117px;
	width: auto;
	padding-right: 35px;
}
.icon1{
	display: inline-block;
	width: 115px;
	height: 115px;
}
.footer_download_body{
	display: inline-block;
	width: auto;
	vertical-align: center;
	margin-top: 1rem;
}
.footer_download_title{
	font: 30pt Dosis SemiBold;
}
.footer_download_text{
	font: 14pt Roboto Light;
}
.footer_href{
	color: black;
}
.footer_href:hover{
	color: black;
	text-decoration: none;
}
.footer_bottom{
	display: block;
	width: auto;
	height: 178px;
	background-color: black;
	text-align: center;
}
.icon_social{
	margin-right: 1rem;
}
.footer_icons_social{
	padding-top: 59px;
	padding-bottom: 29px;
}